$page-bg: #26275A;
$page-primary-text: #42505C;
$form-bg: #ffffff;
$input-text-color: #808080;
$input-text-focus: #333333;
$input-border-color: #efeeed;
$invalid-text-input: #eb4a46;
$invalid-border-input: #eb4a46;
$enabled-btn-text-focus: #ffffff;
$enabled-btn-color-bg: #00c8b3;
$disabled-btn-text-focus: #dddcdc;
$disabled-btn-color-bg: #f6f6f6;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// $form-floating-height:            add(3.5rem, $input-height-border);
// $form-floating-line-height:       1.25;
// $form-floating-padding-x:         $input-padding-x;
// $form-floating-padding-y:         1rem;
// $form-floating-input-padding-t:   1.625rem;
// $form-floating-input-padding-b:   .625rem;
// $form-floating-label-opacity:     .65;
// $form-floating-label-transform:   scale(.85) translateY(-.5rem) translateX(.15rem);
// $form-floating-transition:        opacity .1s ease-in-out, transform .1s ease-in-out;